<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bombbird.terminalcontrol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
    />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <meta-data android:name="com.google.android.gms.games.APP_ID"
                   android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
                   android:value="ca-app-pub-5407943370637953~1368328894"/>
        <activity
                android:name="com.bombbird.terminalcontrol.AndroidTextToSpeechManager"
                android:screenOrientation="sensorLandscape"
                android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize"
                android:exported="false">
            <intent-filter>
                <action android:name="com.bombbird.terminalcontrol.AndroidLauncher" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.bombbird.terminalcontrol.AndroidLauncher"
                android:screenOrientation="sensorLandscape"
                android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
